.brn{
  padding-left: 5%;
  padding-top:5%;
  
}
.fg{
  display: flex;
}
.file{
  display: flex;
}
.mg button{
  width:70px;
  height:20px;
}
.rdiv{
  padding-top:5%;
  padding-left: 5%;
}
.cardimg{
  display: flex;
  
}
.card{
  width:8rem;
  height:9rem;
  margin:1rem;
  border-radius: 23%;
}

.vl {
  border-left: 1px solid black;
  height: 800px;
}